@import "./reset.css";

:root {
    --app-dark-bg: #1d1e20;
    --app-field-bg: #282b2e;
    --app-text: #f1f2f4;
    --app-green: #9f0;
    --app-pink: #f09;
    --app-purple: #90f;
    --app-orange: #f90;
    --app-red: #a12222;
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
    
}

/* - - - - - - - - - - - - - - - - - - */
/* Style                               */
/* - - - - - - - - - - - - - - - - - - */

.grid {
    display: grid;
    align-content: center;
    justify-content: center;
}

.element-container .head {
    text-align: center;
    color: var(--app-text);
    font-size: 40px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #6c6b7280;
    background-color: #2c1d1f;
    padding: 20px 0 20px;
    border-radius: 20px 20px 0 0;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.element-container > * {
    border-radius: 5px;
}

.element-container {
    margin-top: 50px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #6c6b722a;
    background-color: var(--app-field-bg);
    border-radius: 20px;
    min-height: 850px;
    min-width: 1280px;
    margin-bottom: 100px;
    box-shadow: rgba(19, 20, 20, 0.349) 0px 8px 24px;
    padding-bottom: 20px;
}

.contact-container {
    padding: 25px 50px;
}

input[type=text] {
    padding: 5px;
    margin: 15px 10px;
    color: var(--app-text);
    background-color: var(--app-dark-bg);
    width: 35%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 27.5%;
}

.submit {
    width: 108px;
    height: 50px;
    background-color: var(--app-red);
    color: var(--app-text);
    font-size: 20px;
    letter-spacing: 1px;
}

.submit:hover {
    background-color: #d3324d;
}

.contact-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 12px;
}

.contact {
    background-color: #38383a;
    width: 375px;
    height: 150px;
    font-size: 20px;
    padding: 20px 30px 15px 20px;
    color: var(--app-text);
    line-height: 35px;
    box-shadow: 0.5px 0.5px 25px #1c1d1f;

    border-radius: 5px;
    position: relative;


}

.contact:hover {
    border-style: dashed;
    border-color: var(--app-red);
    border-width: 1px;
}

.contact .close {
    visibility: hidden;
}

.contact:hover .close {
    visibility: visible;
}

.errors {
    text-align: center;
    color: red;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.close {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--app-red);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1200px) {
    .contact-grid {
        grid-template-columns: auto auto;
        grid-gap:10px 10px;
    }
}

@media only screen and (max-width: 825px) {
    .contact-grid {
        grid-template-columns: auto;
        grid-gap:10px 10px;
    }

    input[type=text] {
        width: 50%;
        margin: 0 0 0 60px;
    }
}